html {
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.7;
}

body {
	margin: 0;
	background: rgb(224, 224, 224);
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	width: 100vw;
}

.nav-wrapper {
	background: rgb(226, 129, 45);
	width: 100%;
	height: 45px;
	overflow: hidden;
	margin: 0;
	position: fixed;
	box-shadow: 0 2px 2px -2px rgb(223, 173, 129);
}

#nav-bar {
	font-size: 1.3rem;
	height: 45px;
	width: 100%;
}

#nav-links {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-around;
}

#nav-links li {
	list-style: none;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
}

.tab {
	background: inherit;
	border: none;
	color: #5D4038;
	height: 100%;
	font-family: 'Roboto', sans-serif;
	font-size: 1.2rem;
	font-weight: bold;
	transition: font-size 0.2s linear;
}

.tab:hover {
	font-size: 110%;
}

.module-container {
	padding-top: 45px;
}

/* Homepage */
.main-image {
	width: 100%;
}

/* Menu page */
#menu {
	width: 100%;
	text-align: center;
}

#menu h3 {
	font-size: 1.8rem;
}

.menu-wrapper {
	max-width: 600px;
	margin: 0 auto;
}

.food ul {
	text-align: left;
	list-style: none;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 320px;
}

.food li {
	margin: 10px 0;
}

.food-image {
	margin-top: auto;
	vertical-align: bottom;
}

.image {
	width: 100%;
	max-width: 300px;
	max-height: 200px;
}

/* Contact page */
#contact {
	width: 100%;
}

.form-inner {
	max-width: 360px;
	padding: 20px 80px;
	display: flex;
	flex-direction: column;
}

.contact-title {
	margin: 0;
	text-align: center;
}

.form-inner > * {
	border-radius: 20px;
}

.form-inner input,
.form-inner textarea {
	margin-top: 15px;
	padding: 15px;
	border: none;
	background: rgba(243, 242, 242, 0.9);
}

.form-inner button {
	padding: 10px;
	margin-top: 20px;
	border: none;
	border-bottom: 4px solid rgb(190, 115, 49);
	background:rgb(226, 129, 45);
	color: rgb(243, 242, 242);
	font-size: 1.5rem;
}

/* Media queries */
@media (min-width: 400px) { /* mobile devices */
	html {
		font-size: 13px;
	}
}

@media (min-width: 768px) { /* laptops / ipad pros */
	#nav-bar {
		width: 500px;
	}
}

@media (min-width: 1025px) { /* PC */
	.menu-wrapper {
		max-width: 1000px;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		row-gap: 50px;
	}

	.beverages {
		grid-column: 1 / 3; 
		text-align: center;
	}

	.beverages ul {
		display: inline-block
	}
}